:root {
    --main-color: #0022ff;
    --background-color: #dadada;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    color: var(--main-color);
    background-color: var(--background-color);
    margin: 20px;
}

a {
    text-decoration: none;
    color: var(--main-color);
}

a:hover {
    text-decoration: underline;
    opacity: 0.5;
}

ul {
    border: 1px solid var(--main-color);
    padding: 10px 10px;
}

footer {
    text-align: center;
    border-top: 1px solid var(--main-color);
}

p {
    line-height: 14px;
}

#home,
#about,
#contact {
    height: 120vh;
    padding: 10px 0;

}

video {
    max-width: 100%;
    height: auto;
    max-height: calc(100vh / 2);
}

.video-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}