:root {
    --bg-color: rgb(243, 243, 243);
    --primary-color: #fff;
    --secondary-color: #000;
    --accent-color: #dadada;
    --accent-color-red: #ff0000;
    --pin-color: #e8e8e8;
    --font-family: 'helvetica Now Display', sans-serif;
}

/* Global Styles */
body {
    margin: 20px;
    font-family: var(--font-family);
    background-color: var(--bg-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    height: 50px;
}

/* Buttons */
button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 50px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--accent-color);
}

/* Mobile header adjustments */
@media (max-width: 480px) {
    body {
        margin: 10px;
    }

    header {
        margin-bottom: 15px;
        height: 40px;
    }

    header h1 {
        font-size: 1.5rem;
    }
}